{% load static %}  <!-- 載入靜態css -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>旅駁包</title>

    <!-- html放templates，css、照片放static -->
    <!-- 載入靜態css -->
    <link rel="icon" type="image/png" href="/static/img/favicon.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/share.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>

<body>
  <!-- head -->
  {% load static %}
  {% include 'includes/header.html' %} 
  {% block content %}
    
    <div id="wrap">
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="inputblocktext">{{ trip.title }}</h1>
                    <h3>景點列表：</h3>
                    <h3 class="title">輸入地點</h3>
                    <input type="text" id="locationInput">
                    <button onclick="addLocation()" class="btn">送出</button>
                    <ul id="locationList" class="delbtn"></ul>
                     
                    <!-- 表單開始 -->
                    <form id="saveTripForm" method="post" action="{% url 'save_trip' %}">
                        {% csrf_token %}
                        <!-- 行程名稱 -->
                        <input type="text" name="title" id="hiddenTitle" value="{{ trip.title }}" hidden>
                        <!-- 位置列表 -->
                        <input type="hidden" name="locations" id="hiddenLocations" value="">
                        <input type="hidden" name="sorted_locations" id="hiddenSortedLocations" value="">
                        <!-- 其他表單元素 -->
                        <button type="submit" class="btn mb-3" onclick="saveTrip()">儲存行程</button>

                    </form>
                    <!-- 表單結束 -->
                    <a href="{% url 'trip_list' %}"> 
                        <button class="btn">回上一頁</button>
                    </a>
                </div>
                <div class="col-md-6">
                    <div id="map" style="width: 600px;height: 600px;"></div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"
        integrity="sha512-Eezs+g9Lq4TCCq0wae01s9PuNWzHYoCMkE97e2qdkYthpI0pzC3UGB03lgEHn2XM85hDOUF6qgqqszs+iXU4UA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNvH9svsfBlYkeJ83vGmPWAnN64nRQ_kI"></script>

    <script>
        let locationAry = {{ locations_list|safe }};
    </script>

    <script defer>
        // let locationsList = { locations_list,safe };
        let form;

        function addLocation() {
            const locationInput = document.getElementById('locationInput');
            const locationList = document.getElementById('locationList');
            const hiddenLocationsInput = document.getElementById('hiddenLocations');
            const hiddenTitleInput = document.getElementById('hiddenTitle');
            

            const newLocation = locationInput.value.trim();
            const tripName = "{{ trip.title }}";  // 获取行程名稱輸入框的值

            if (newLocation !== '') {
                locationAry.push(newLocation);
                renderLocations();
                locationInput.value = '';

                // 更新表單中的位置和行程名稱
                hiddenLocationsInput.value = locationAry.join(',');
                hiddenTitleInput.value = tripName;  // 设置行程名稱的值
            } else {
                alert('請輸入地點!');
            }
        }

        function removeLocation(index) {
            locationAry.splice(index, 1);
            renderLocations();
            
            // 更新表單中的位置
            const hiddenLocationsInput = document.getElementById('hiddenLocations');
            hiddenLocationsInput.value = locationAry.join(','); // 使用逗號分隔位置列表
        }

        function renderLocations() {
            const locationList = document.getElementById('locationList');
            const hiddenLocationsInput = document.getElementById('hiddenLocations');
            const hiddenSortedLocationsInput = document.getElementById('hiddenSortedLocations');
            
            locationList.innerHTML = '';
            locationAry.forEach((location, index) => {
                const listItem = document.createElement('li');
                listItem.textContent = location;

                const deleteButton = document.createElement('button');
                deleteButton.textContent = 'x'; //垃圾桶
                deleteButton.addEventListener('click', () => {
                    removeLocation(index);
                });
                listItem.appendChild(deleteButton);

                locationList.appendChild(listItem);
            });

            const sortable = new Sortable(locationList, {
                animation: 150,
                onEnd: function (evt) {
                    const fromIndex = evt.oldIndex;
                    const toIndex = evt.newIndex;
                    const movedLocation = locationAry.splice(fromIndex, 1)[0];
                    locationAry.splice(toIndex, 0, movedLocation);

                    // 更新表單中的位置和排序信息
                    hiddenLocationsInput.value = locationAry.join(',');
                    hiddenSortedLocationsInput.value = locationAry.join(',');

                    renderLocations(); // 重新渲染列表
                    
                }
            });

            updateMap();
        }

        function updateMap() {
            if (locationAry.length == 0) {
                console.log('locationAry is empty');
                return;
            }

            const mapDiv = document.getElementById('map');

            if (locationAry.length == 1) {
                mapDiv.innerHTML = `<iframe src="https://www.google.com/maps/embed/v1/place?q=${encodeURIComponent(locationAry[0])}&key=AIzaSyCNvH9svsfBlYkeJ83vGmPWAnN64nRQ_kI" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>`;
                return;
            }

            const directionsService = new google.maps.DirectionsService();
            const directionsDisplay = new google.maps.DirectionsRenderer();

            const waypoints = locationAry.map(location => ({
                location,
                stopover: true
            }));

            const request = {
                origin: waypoints.shift().location,
                destination: waypoints.pop().location,
                waypoints,
                travelMode: google.maps.TravelMode.DRIVING
            };

            directionsService.route(request, (result, status) => {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(result);
                    directionsDisplay.setMap(new google.maps.Map(mapDiv, {
                        zoom: 10,
                        center: result.routes[0].legs[0].start_location
                    }));
                } else {
                    console.error('Error fetching directions:', status);
                }
            });
        }

        function saveTrip() {
            const tripNameInput = document.getElementById('tripName');
            const titleInput = document.getElementById('hiddenTitle');
            const locationInput = document.getElementById('locationInput');

            // 檢查是否輸入了行程名稱
            if (tripNameInput.value.trim() === '') {
                alert('請輸入行程名稱!');
                return;
            }

            // 將行程名稱的值設定到隱藏的 title 欄位中
            titleInput.value = tripNameInput.value.trim();

            // 提交表單
            form.submit();
        }  
        function Init_Map() {
            renderLocations();
            // 在這裡取得表單元素
            form = document.getElementById('saveTripForm');
        }
        Init_Map();

        document.addEventListener('DOMContentLoaded', function() {
            Init_Map();
        });
    </script>    
    
  {% endblock %}
  
  <!-- footer -->
  {% include 'includes/footer.html' %}
</body>